body {
  background-color: rgb(255, 252, 80);
}
h1 {
  color: rgb(0, 128, 68);
  display: flex;
  flex-direction: row;
}

p1 {
  border: 3px solid orange;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 90%;
  color: blueviolet;
  display: flex;
}

p2 {
  text-align: centre;
}

#p3 {
  display: row reverse;
  font-size: 70%;
}
